
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h5 class="modal-title">Запись в каталоге</h5>
<!--
                        <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
-->
                    </div>
                    <form id="form-record"  action="admin/catalogs/record/replace?catalog={$catalog['name']}" enctype="multipart/form-data" class="modal-body">
						<div class="row" >
							{foreach $catalog['field'] as $_name => $_field}
								{;$_value = $record[$_name]}
								<div class="form-group">

									<div class="col-sm-12">

											{if 'html' == $_field['type']}

													<div class="ibox float-e-margins">
														<div class="ibox-title">
															<h5>{= $_field['alias'] ?? $_name}</h5>
															<button class="btn btn-primary btn-xs m-l-sm" onclick="edit('htmledit-{$_name}')" type="button">Править</button>
															<button class="btn btn-primary  btn-xs" onclick="save('htmledit-{$_name}')" type="button">Сохранить</button>
														</div>
														<div class="ibox-content no-padding">
															<input id="inputedit-{$_name}" type="hidden" name="{$_name}" value="{$_value}" class="form-control">
															<div id="htmledit-{$_name}" data-input="inputedit-{$_name}" class="htmledit wrapper p-md">
																{$$_value}
															</div>

														</div>
													</div>

<!--
												<div>
													<div class="ibox float-e-margins">
														<div class="ibox-title">
															<h5>{= $catalog['field'][$_name]['alias'] ?? $_name}</h5>
														</div>
														<div class="ibox-content no-padding">
															<div class="summernote">{$_value}</div>
														</div>
													</div>
												</div>
-->

<!--
												<label class="col-sm-12 control-label">{= $catalog['field'][$_name]['alias'] ?? $_name}</label>
												<div class="!form-control">
													<div name="{$_name}" class="!form-control summernote">{$_value}</div>
-->
											{elseif 'image' == $_field['type']}

												<div class="input-group m-b">
													<span class="input-group-addon gray-bg" style="min-width:8em">{= $_field['alias'] ?? $_name}</span>
													<span class="input-group-addon gray-bg no-padding"  style="min-width:3em">
														<a class="project-people image-preload no-padding" target="_blank">
															<img id="image-{$_name}" loading="lazy" class="img-circle" src="{if $_value}{$_value}{else}~/../img/noimage.png{end}">
<!--
															<img alt="image" loading="lazy" class="img-circle" src="https://cdn-icons-png.flaticon.com/512/196/196280.png">
-->
														</a>
													</span>
													<input class="hidden file-image-upload" type="file" id="file-{$_name}" data-name="{$_name}" name="{$_name}">
													<input type="text" name="{$_name}" value="{$_value}" class="form-control">
													<span class="input-group-btn">
														<label type="button" class="btn btn-warning btn-outline btn-clear" data-name="{$_name}"><i class="fa fa-times"></i></label>
														<label type="button" class="btn btn-primary" for="file-{$_name}"> <i class="fa fa-cloud-upload"></i></label>
													</span>
												</div>

<!--
												<div class="input-group m-b">
													<span class="input-group-btn"> <button type="button" class="btn btn-primary">File</button></span>
													<input type="text" class="form-control">
												</div>
												<div class="input-group">
													<input type="text" class="form-control">
													<span class="input-group-btn">
														<button type="button" class="btn btn-primary">Go!</button>
													</span>
												</div>
-->



											{elseif 'check' == $_field['type']}
												<input type="hidden" value="" name="{$_name}">

												<div class="input-group m-b">
													<span class="input-group-addon gray-bg m-r-lg" style="padding-right:2em; min-width:8em">{= $_field['alias'] ?? $_name}</span>
													<div class="m-l-lg">
														<input type="checkbox" class="js-switch" name="{$_name}" value="1" {if boolval($_value)} checked {end} />
													</div>
<!--
													<span class="input-group-btn">
														<button type="button" class="btn btn-primary">Выбрать файл</button>
													</span>
-->
												</div>

<!--
												<input type="checkbox" class="js-switch" name="{$_name}" value="1" {if boolval($_value)} checked {end} />
-->
<!--
												<div class="checkbox i-checks"><label> <input type="checkbox" name="{$_name}" value="1" {if boolval($_value)} checked {end}> <i></i> {= $_field['alias'] ?? $_name} </label></div>
-->
											{elseif 'link' == $_field['type']}
												<label class="col-sm-12 control-label">{= $_field['alias'] ?? $_name}</label>
												<input type="text" class="form-control" name="{$_name}" value="{$_value}">
											{elseif 'audio' == $_field['type']}
												<div class="input-group m-b">
													<span class="input-group-addon gray-bg" style="min-width:8em">{= $_field['alias'] ?? $_name}</span>

													<span class="input-group-addon gray-bg no-padding " style="min-width:3em">
														<audio class="FULLSCREEN d-none d-md-block " controls style="height:2em; outline: none;" id="audio-{$_name}" src="{$_value}"></audio>
														<i class="MOBILESCREEN fa fa-music !m-l-sm  d-md-none "></i>
													</span>

													<input class="hidden file-audio-upload" type="file" id="file-{$_name}" data-name="{$_name}" name="{$_name}">
													<input type="text" name="{$_name}" value="{$_value}" class="form-control">
													<span class="input-group-btn">
														<label type="button" class="btn btn-warning btn-outline btn-clear" data-name="{$_name}"><i class="fa fa-times"></i></label>
														<label type="button" class="btn btn-primary" for="file-{$_name}"><i class="fa fa-cloud-upload"></i></label>
													</span>
												</div>
<!--
												<td class="project-title">
													<a><i class="fa fa-lg fa-play text-primary"></i></a>
													<a target="_blank" href="{$_record[$_name]}"><i class="fa fa-lg fa-download text-primary"></i></a>
													<audio !controls src="{$$_record[$_name]}" style="height:30px"></audio>
												</td>
-->
											{else}
<!--
												<label class="col-sm-12 control-label">{= $catalog['field'][$_name]['alias'] ?? $_name}</label>
												<input type="text" class="form-control" name="{$_name}" value="{$_value}">
-->

												<div class="input-group m-b">
													{if $_name != "id"}
													<span class="input-group-addon gray-bg" style="min-width:8em">{= $_field['alias'] ?? $_name}</span>
													{end}
													<input  name="{$_name}" {if $_name == "id"} type="hidden" {else} type="text" {end} value="{$_value}" class="form-control">
												</div>

											{end}

<!--
										<textarea name="{$_record['name']}" placeholder="{$_record['name']}" class="form-control"></textarea>
-->
									</div>
								</div>
 							{end}



<!--
							{foreach (array) $table['columns']['list'] as $_key => $_record}
								<div class="form-group"><label class="col-sm-12 control-label">{$_record['head']}  [{$_record['name']}]</label>
									<div class="col-sm-12">
										<textarea name="{$_record['name']}" placeholder="{$_record['name']}" class="form-control"></textarea>
									</div>
								</div>
							{end}
-->
<!--
							<strong>---</strong>
-->

<!--
                        <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.</p>
-->

						</div>
					</form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
                        <button id="btn-save" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-refresh "></i> Сохранить изменения</button>
                    </div>

					<script>

						$("#btn-save").children().removeClass('fa-spin');

						$('.i-checks').iCheck(
						{
							checkboxClass: 'icheckbox_square-green',
							radioClass: 'iradio_square-green',
						});

						$(".js-switch").each(function()
						{
							var switchery = new Switchery(this, { color: '#1AB394' });
						});

						  <!-- SUMMERNOTE -->
						$('.summernote').summernote();

						$('.file-image-upload').change(function()
						{
							var inputName = $(this).data('name');
							$(`input[type=text][name=${inputName}]`).val($(this).val().match(/\\([^\\]+)$/)[1]);

							var input = $(this)[0];
								if (input.files && input.files[0]) {
									if (input.files[0].type.match('image.*')) {
										var reader = new FileReader();
										reader.onload = function (e) {
											$(`#image-${inputName}`).attr('src', e.target.result);
										}
										reader.readAsDataURL(input.files[0]);
									} else {
										alert("ПРЕДУПРЕЖДЕНИЕ! Возможно выбранный файл не является изображением");
									}
								}

						});

						$('.file-audio-upload').change(function()
						{
							var inputName = $(this).data('name');
							$(`input[type=text][name="${inputName}"]`).val($(this).val().match(/\\([^\\]+)$/)[1]);

							var input = $(this)[0];
								if (input.files && input.files[0]) {
									if (input.files[0].type.match('audio.*')) {
										var reader = new FileReader();
										reader.onload = function (e) {
											$(`#audio-${inputName}`).attr('src', e.target.result);
										}
										reader.readAsDataURL(input.files[0]);
									} else {
										alert("ПРЕДУПРЕЖДЕНИЕ! Возможно выбран не аудиофайл");
									}
								}

						});

						$('.image-preload').click(function()
						{
							$(this).attr('href', $(this).children().attr('src') );
							return true;
						});


						$('.btn-clear').click(function()
						{
							var name = $(this).data('name');
							$(`input[type=text][name="${name}"]`).val('');
							$(`#file-${name}`).val('');
						});


						$('#btn-save').click(function()
						{
							//prevent Default functionality
							//~ e.preventDefault();

							$("#btn-save").children().addClass('fa-spin');

							//get the action-url of the form
							var actionurl = $("#form-record").attr('action');

							var formData = new FormData($("#form-record")[0]);
							//~ $("#form-record").serialize();

							$.ajax({
									url: actionurl,
									type: 'POST',
									//~ dataType: 'application/json',
									dataType: 'text',
									enctype: 'multipart/form-data',
									processData: false,  // tell jQuery not to process the data
									contentType: false,  // tell jQuery not to set contentType
									data: formData,
									success: function(data)
									{
										if (data=='OK')
										{
											//~ $('#bookingModal').modal('hide');
											location.reload();
											return true;
										}
										else
										{
											console.log(data);
											alert(data);
										}
									},
									error: function(data, errorThrown)
									{
										alert('request failed :'+errorThrown);
									}
							});
							return false;
						});

						var edit = function(elemID)
						{
							$('#'+elemID).summernote({focus: true});
						};
						var save = function(elemID)
						{
							//Get code
							var aHTML = $('#'+elemID).code(); //save HTML If you need(aHTML: array).
							//Get input ID
							var inputID = $('#'+elemID).data('input');
							//Set input code
							$('#'+inputID).val(aHTML);

							$('#'+elemID).destroy();
						};
					</script>
