
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                        <h4 class="!modal-title m-none">Запись в каталоге</h4>
<!--
                        <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
-->
                    </div>
                    <form id="form-record"  action="admin/catalogs/record/replace?catalog={$catalog['name']}" enctype="multipart/form-data" class="modal-body">
						<div class="row" >
							{foreach $catalog['field'] as $_name => $_field}
								{;$_value = $record[$_name]}
								<div class="form-group">

									<div class="col-sm-12">

										{? 'html'    == $_field['type']} {section "frame.types/html.html"}    {;$df=1} {end}
										{? 'link'    == $_field['type']} {section "frame.types/link.html"}    {;$df=1} {end}
										{? 'files'   == $_field['type']} {section "frame.types/files.html"}   {;$df=1} {end}
										{? 'image'   == $_field['type']} {section "frame.types/image.html"}   {;$df=1} {end}
										{? 'audio'   == $_field['type']} {section "frame.types/audio.html"}   {;$df=1} {end}
										{? 'check'   == $_field['type']} {section "frame.types/check.html"}   {;$df=1} {end}
										{? 'select'  == $_field['type']} {section "frame.types/select.html"}  {;$df=1} {end}
										{? 'integer' == $_field['type']} {section "frame.types/integer.html"} {;$df=1} {end}
										{? !$df}                         {section "frame.types/default.html"} {;$df=0} {end}

										{;$df = 0}
									</div>
								</div>
 							{end}
						</div>
					</form>
                    <div class="modal-footer">
						<p>{$$catalog['help']}</p>
                        <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
                        <button id="btn-save" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-refresh "></i> Сохранить изменения</button>
                    </div>

					<script>

						$("#btn-save").children().removeClass('fa-spin');



						$('#btn-save').click(function()
						{
							//prevent Default functionality
							//~ e.preventDefault();

							$("#btn-save").children().addClass('fa-spin');

							//get the action-url of the form
							var actionurl = $("#form-record").attr('action');

							var formData = new FormData($("#form-record")[0]);
							//~ $("#form-record").serialize();

							$.ajax({
									url: actionurl,
									type: 'POST',
									//~ dataType: 'application/json',
									dataType: 'text',
									enctype: 'multipart/form-data',
									processData: false,  // tell jQuery not to process the data
									contentType: false,  // tell jQuery not to set contentType
									data: formData,
									success: function(data)
									{
										if (data=='OK')
										{
											//~ $('#bookingModal').modal('hide');
											location.reload();
											return true;
										}
										else
										{
											console.log(data);
											alert(data);
										}
									},
									error: function(data, errorThrown)
									{
										alert('request failed :'+errorThrown);
									}
							});
							return false;
						});


					</script>
