		<div class="row border-bottom" >
			<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<a class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </a>
					{if $form['search']}
					<form role="search" class="navbar-form-custom" method="post" action="{$form['search']['action']}">
						<div class="form-group">
							<input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
						</div>
					</form>
					{end}
				</div>
				<ul class="nav navbar-top-links navbar-right pull-right">
					<li>
						<span class="m-r-sm text-muted welcome-message">{$title}</span>
					</li>

					{if $nav['developments']['list']}
					<li class="dropdown">
						<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
							<i class="fa fa-envelope"></i>
							<span class="label label-warning">{= count($nav['developments']['list'])}</span>
						</a>
						<ul class="dropdown-menu dropdown-messages">
							{foreach $nav['developments']['list'] as $_item}
							<li>
								<div class="dropdown-messages-box">
									<a href="{$_item['link']}" class="pull-left">
										{if $_item['image']}
											<img alt="image" class="img-circle" src="{$_item['image']}">
										{end}
										<div>
											<small class="pull-right">{$_item['time']}</small>
											<strong>{$_item['head']}</strong>
											<br>
											<small class="text-muted">{$_item['info']}</small>
										</div>
									</a>

								</div>
							</li>
							<li class="divider"></li>
							{end}
						</ul>
					</li>
					{end}
					<li class="dropdown">
						<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
							<i class="fa fa-user"></i>
<!--
							<span class="label label-primary">8</span>
-->
						</a>
						<ul class="dropdown-menu dropdown-alerts" style="width:200px">
							{foreach $nav['profile']['list'] as $_item}
								<li>
									<a href="{$_item['link']}">
										<div>
											<i class="{$_item['icon']}"></i> {$_item['head']}
											{if $_item['text']}
												<span class="pull-right text-muted small">{$_item['text']}</span>
											{end}
										</div>
									</a>
								</li>
							{end}

<!--
							<li class="divider"></li>
							<li>
								<a href="profile.html">
									<div>
										<i class="fa fa-twitter fa-fw"></i> 3 New Followers
										<span class="pull-right text-muted small">12 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="grid_options.html">
									<div>
										<i class="fa fa-upload fa-fw"></i> Server Rebooted
										<span class="pull-right text-muted small">4 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<div class="text-center link-block">
									<a href="notifications.html">
									<strong>See All Alerts</strong>
									<i class="fa fa-angle-right"></i>
									</a>
								</div>
							</li>
-->
						</ul>
					</li>
<!--
					<li>
						<a href="login.html">
						<i class="fa fa-sign-out"></i> Log out
						</a>
					</li>
-->
				</ul>
			</nav>
		</div>
