		<!--Главное меню слева-->
		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">
					<li class="nav-header">
						<!--PROFILE MENU-->
						<div class="dropdown profile-element">
							<span>
							{if $profile['logo'] != ''}
								<img alt="image" class="img-circle" width="50px" src="{$profile['logo']}" />
							{else}
								<div alt="image" class="img-circle" width="50px"/><i class="fa fa-twitch" style="color:#E5E5E5; font-size:50px"></i></div>
<!--
								<div alt="image" class="img-circle" width="50px"/><i class="fa fa-coffee" style="color:#E5E5E5; font-size:50px"></i></div>
-->
<!--
								<img alt="image" class="img-circle" width="50px" src="~/img/avatars/profile1.png" />
-->
							{end}
							</span>
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="clear"> 
									<span class="block m-t-xs"> <strong class="font-bold">{$profile['name']}</strong></span> 
									<span class="text-muted text-xs block">{$profile['login']}<b class="caret"></b></span> 
								</span> 
							</a>
							<ul class="dropdown-menu animated fadeInRight m-t-xs">
								{foreach $nav['profile']['list'] as $_item}
									<li><a href="{$_item['link']}" target="{$_item['target']}"><i class="{$_item['icon']}"></i> {$_item['head']}</a></li>
								{end}
								<!--
									<li><a href="contacts.html">Contacts</a></li>
									<li><a href="mailbox.html">Mailbox</a></li>
									<li class="divider"></li>
									<li><a href="login.html">Logout</a></li>
									-->
							</ul>
						</div>
						<div class="logo-element">
							{if $profile['logo'] != ''}
								<img alt="image" class="img-circle" width="50px" src="{$profile['logo']}" />
							{else}
								<div alt="image" class="img-circle" width="50px"/><i class="fa fa-twitch" style="color:#E5E5E5; font-size:50px"></i></div>
							{end}
<!--
							IN+
-->
						</div>
					</li>
					{if $nav['main']}
						{foreach $nav['main']['list'] as $_item}
							<li {if $_item['active']} class="active" {end}>
								<a href="{$_item['link']}" target="{$_item['target']}">
								<i class="{$_item['icon']}"></i> <span class="nav-label">{$_item['head']}</span>

								{if $_item['info']}
									<span class="pull-right label label-primary">{$_item['info']}</span>
								{end}

								{if ($_item['list']) and (!$_item['info'])}
									<span class="fa arrow"></span>
								{end}
								</a>
								{if $_item['list']}
									<ul class="nav nav-second-level">
										{foreach $_item['list'] as $_node}
										<li {if $_node['active']} class="active" {end}>
											<a href="{$_node['link']}" target="{$_node['target']}">{$_node['head']}
												{if $_node['info']} <span class="pull-right label label-primary"> {$_node['info']} </span> {end}
											</a>
											{if $_node['list']}
											<ul class="nav nav-third-level">
												{foreach $_node['list'] as $_subnode}
												<li {if $_subnode['active']} class="active" {end}>
													<a href="{$_subnode['link']}" target="{$_subnode['target']}">{$_subnode['head']}</a>
												</li>
												{end}
											</ul>
											{end}
										</li>
										{end}
									</ul>
								{end}
							</li>
						{end}
					{end}
				</ul>
			</div>
		</nav>
		<!--Конец меню-->
