
    <footer class="ftco-footer ftco-bg-dark ftco-section  pb-0">
      <div class="container">
        <div class="row !mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget !mb-5">
			  <img src="public/images/logo.svg">
              <h2 class="ftco-heading-2 logo">{$menu['footer']['head']}</h2>
              <p>{$menu['footer']['text']}</p>
              	
              	
              	<ul class="ftco-footer-social list-unstyled !float-md-left !float-lft mt-3 text-center">
					{foreach $menu['contact']['list']['social']['list'] as $_item}
						<li class="ftco-animate"><a href="{$_item['link']}"><span class="{$_item['icon']}"></span></a></li>
					{end}
				</ul>
            </div>
<!--
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>

	            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
-->
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget !mb-5 !ml-md-4">
              <h2 class="ftco-heading-2">{$menu['footer']['info']}</h2>
              <ul class="list-unstyled">
				{foreach $menu['footer']['list'] as $_item}
					<li><a href="{$_item['link']}"><span class="ion-ios-arrow-round-forward mr-2"></span>{$_item['head']}</a></li>
				{end}
              </ul>
            </div>
<!--
            <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2">Services</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Neurolgy</a></li>
                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Dentist</a></li>
                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Ophthalmology</a></li>
                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Cardiology</a></li>
                <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Surgery</a></li>
              </ul>
            </div>
-->
          </div>
          <div class="col-md">
			 <div class="ftco-footer-widget !mb-5">
            	<h2 class="ftco-heading-2">{$menu['contact']['head']}</h2>
            	<div class="block-23 !mb-3">
	              <ul>
					{foreach $menu['contact']['list'] as $_item}
						<li>
							<a {if $_item['link']}href="{$_item['link']}"{end}><span class="icon {$_item['icon']}"></span><span class="text">{$$_item['head']}</span></a>
						</li>
	                {end}
<!--
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
-->
	              </ul>
	            </div>

<!--
	            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
					{foreach $menu['contact']['list']['social']['list'] as $_item}
						<li class="ftco-animate"><a href="{$_item['link']}"><span class="{$_item['icon']}"></span></a></li>
					{end}
				</ul>
-->
            </div>
          </div>
          <div class="col-md">
<!--
          	<div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Opening Hours</h2>
            	<h3 class="open-hours pl-4"><span class="ion-ios-time mr-3"></span>We are open 24/7</h3>
            </div>
-->
            <div class="ftco-footer-widget !mb-5">
            	<h2 class="ftco-heading-2">Обратная связь:</h2>
				  <form id="footer-form" class="subscribe-form">
					<div class="form-group">
					  <input type="text" class="form-control mb-2 text-center phone" placeholder="Введите ваш номер">
					  <input type="submit" value="Наберите мне" class="form-control submit px-3" onclick="send('#footer-form'); return false;">
					</div>
				  </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->					
					<b>ООО «ЗДОРОВАЯ УЛЫБКА»</b> <br> С заботой и <i class="icon-heart" aria-hidden="true"></i> к Вашей улыбке!</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>



	<link href="~/../button-visually-impaired/dist/css/bvi.css" rel="stylesheet">
	<script src="~/../button-visually-impaired/dist/js/bvi.js"></script>
	

	
	<script>
	function send(form) 
	{
            //Заберем информацию с полей
            var name = $(form+' .name').val();
            var phone = $(form+' .phone').val();
            var text = $(form+' .text').val();

			if (! phone) 
			{
				alert("Укажите номер для связи!");
				return false;
			}
            //do your own request an handle the results
            $.ajax({
                url: 'post',
                type: 'post',
                data: {
                    name: name,
                    phone: phone,
                    text: text
                },
                success: function(data) 
                {
                    $('#form').html(data);
                    $(form).html(data);
                    //Подгрузим список с сервера
                    //$('#regform').load('tour_bay?id='+id);	
                },
                error: function(xhr, str) 
                {
                    alert('Возникла ошибка: ' + xhr.responseCode);
                }
            });
    }
	</script>
	
	
	
	<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src='https://vk.com/js/api/openapi.js?169',t.onload=function(){VK.Retargeting.Init("VK-RTRG-1242518-51nOm"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-1242518-51nOm" style="position:fixed; left:-999px;" alt=""/></noscript>

    <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TL46X6K"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	   ym(53359879, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true
	   });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/53359879" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	
	<!-- BEGIN OF UTMSTAT COUNTER CODE FOR Реадовская стоматология -->
	<script type="text/javascript">
		var utmStatConf = {projectId: "8cbd0fa267f05f6f50349a29cd867dd0", replaceTextElements: [], hasJivosite: false, hasCarrotQuest:false, hasMetrika: false, hasAnalytics: false, useCookieSync: false};
		(function (u, t, m) {
			var s = u.createElement(t), n = u.getElementsByTagName(t)[0];
				s.type = "text/javascript";
				s.async = true;
				s.src = m + "?v=" + Date.now();
				n.parentNode.insertBefore(s, n);
			})(document, "script", "//static.utmstat.com/client.min.js");
	</script>			
	<!-- END OF UTMSTAT COUNTER CODE FOR Реадовская стоматология -->

	
	<script>
	  new isvek.Bvi({
		target: '.bvi-open',
		fontSize: 14,
	  })
	  //~ new isvek.Bvi();
	</script>
	
