	<div class="py-md-4 py-4 border-bottom" id="header-contact">
		<div class="container">
			<div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">

				<!--- Адаптивная шапка --->
				<div class="d-none d-md-block col-md-4 order-md-2 mb-2 mb-md-0 align-items-center text-center">
					<a class="navbar-brand m-0" href="index">Реадовская<span>стоматологическая поликлиника</span></a>
					<br>
					<a class="bvi-open" href=""> <i class="fa fa-eye"></i> Версия для слабовидящих </a>
				</div>
				<div class="d-md-none col-md-4 order-md-1 d-flex topper  mb-md-0 mb-md-0 align-items-center !text-center">
					<div class="!icon d-flex justify-content-center align-items-center order-md-last">
						<img width="60em" src="public/images/logo.png">
					</div>
					<div class="pr-md-4 pl-md-0 pl-3 text">
						<a class="navbar-brand m-0" href="index">Реадовская<span>стоматологическая поликлиника</span></a>
						<br>
						<a class="bvi-open" href=""> <i class="fa fa-eye"></i> Версия для слабовидящих </a>
					</div>
				</div>
				<!--- ---- --->
				
				
				<div class="col-md-4 order-md-1 d-flex topper mb-md-0 mb-2 align-items-center text-md-right">
					<div class="icon d-flex justify-content-center align-items-center order-md-last">
						<span class="icon-map"></span>
					</div>
					<div class="pr-md-4 pl-md-0 pl-3 text">
						<a href="tel:+7(4812)39-29-29" class="con"> <h5 >+7 (4812) 39-29-29</h5></a>
						<a href="tel:89206680129" class="con"> <h5 >+7 (920) 668-01-29</h5></a>
						<p class="con">г. Смоленск, ул. Матросова, д. 16</p>
					</div>
				</div>
				<div class="col-md-4 order-md-3 d-flex topper mb-md-0 align-items-center">
					<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
					<div class="text pl-3 pl-md-3">
						<p class="hr"><span>График работы</span></p>					    
						<p class="time"><span>Пн - Пт:</span> <span>8:00 - 21:00</span></p>
						<p class="time"><span>Сб:</span> <span>9:00 - 18:00</span></p>
						<p class="time"><span>Вс:</span> <span>10:00 - 15:00</span> </p>
					</div>
				</div>
			</div>
		  </div>
	</div>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark  bg-primary ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Меню
	      </button>
	      <div class="collapse navbar-collapse " id="ftco-nav">
	        <ul class="navbar-nav m-auto">
				{foreach $menu['main']['list'] as $_item}
					<li class="nav-item "><a class="nav-link pl-0" href="{$_item['link']}">{$_item['head']}</a></li>
	        	{end}
<!--
	        	<li class="nav-item"><a class="nav-link">О клинике</a></li>
	        	<li class="nav-item active"><a class="nav-link" href="/doctors">Доктора</a></li>
	        	<li class="nav-item"><a class="nav-link">Цены</a></li>
	        	<li class="nav-item"><a class="nav-link">Отзывы</a></li>
	        	<li class="nav-item"><a class="nav-link">Работы</a></li>
	        	<li class="nav-item"><a class="nav-link">Лекции</a></li>	        	
	          <li class="nav-item"><a class="nav-link">Контакты</a></li>
-->
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
