					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>{$section['single']['head']}</h5>  <!-- Menu <small>Навигационные компоненты, основные и побочные</small>  -->
								<div class="ibox-tools">
									<a class="collapse-link">
										<i class="fa fa-chevron-up"></i>
									</a>
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										<i class="fa fa-wrench"></i>
									</a>
									<ul class="dropdown-menu dropdown-user">
										<li><a href="#">Config option 1</a>
										</li>
										<li><a href="#">Config option 2</a>
										</li>
									</ul>
									<a class="close-link">
										<i class="fa fa-times"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content">

									<!--Пример блока данных с заполнением-->
									{foreach $section['single']['list'] as $_block}
									<div class="form-group"><label class="col-sm-2 control-label">{$_block['head']}</label>
										<div class="col-sm-10"><input name="content[{$_block['name']}][data]" type="text" placeholder="" class="form-control" value="{$_block['text']}"></div>
									</div>
<!--
									<div class="hr-line-dashed"></div>
-->
									{end}
									<!--Конец примера блока данных-->








							</div>
						</div>
					</div>
