					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>{$section['single']['head']}</h5>  <!-- Menu <small>Навигационные компоненты, основные и побочные</small>  -->
								<div class="ibox-tools">
									<a class="collapse-link">
										<i class="fa fa-chevron-up"></i>
									</a>
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										<i class="fa fa-wrench"></i>
									</a>
									<ul class="dropdown-menu dropdown-user">
										<li><a href="#">Config option 1</a>
										</li>
										<li><a href="#">Config option 2</a>
										</li>
									</ul>
									<a class="close-link">
										<i class="fa fa-times"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content">

									<!--Пример блока данных с заполнением-->
									{foreach $section['single']['list'] as $_block}
									<div class="form-group">
										<label class="col-sm-2 control-label">{$_block['head']}</label>
<!--
										<div class="col-sm-10">
											<input name="content[{$_block['name']}][data]" type="text" placeholder="" class="form-control" value="{$_block['text']}">
										</div>
-->
										<div class="col-sm-10">
												<div class="input-group">
													<input name="content[{$_block['name']}][data]" type="text" placeholder="" class="form-control" value="{$_block['text']}">
                                                    <span class="input-group-btn">
<!--
                                                        <a class="btn btn-white btn-bitbucket !ml-2 view-provider-button" data-target="#myModal5" !data-providerhandler="{$form['file']['providerhandler']}" #id="view-provider-button" title="Указать на файл" >
															<i class="fa fa-file-o"></i>
														</a>
-->
														<button type="button" class="btn btn-white btn-file-select" data-name="content[{$_block['name']}][data]" data-toggle="modal" data-target="#fileModal">
															<i class="fa fa-file-o"></i>
														</button>
                                                    </span>
                                                </div>
                                        </div>
									</div>

<!--
									<div class="hr-line-dashed"></div>
-->
									{end}
									<!--Конец примера блока данных-->








							</div>
						</div>
					</div>


					<div class="modal inmodal fade" id="fileModal" tabindex="-1" role="dialog"  aria-hidden="true">
						<div class="modal-dialog !modal-lg modal-xl">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
									<h4 class="modal-title">Медиафайлы</h4>
									<!--
										<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
										-->
								</div>
								<div class="modal-body m-none p-none modal-media-files">
									<div class="text-center m-lg"><i class="fa fa-refresh fa-5x fa-spin"></i></div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
									<button type="button" class="btn btn-primary btn-file-ok" data-dismiss="modal">Выбрать файл</button>
								</div>
							</div>
						</div>
					</div>


					<script>

						$(".btn-file-ok").click(function ()
						{
							//~ var val = $(this).closest(".modal-content").find("input[name='files-select']:checked").val();
							//Механизм фрейма медиафайлов, для получения выделенных элементов
							var val = mediafilesSelected()[0];
							if (!val)
							{
								toastr.warning("Выберите файл");
								return false;
							}

							$(`input[name='${window.modalInputName}']`).val(val);
							$("#fileModal").hide();
						});

						$(".btn-file-select").click(function ()
						{
							$(".modal-media-files").html('<div class="text-center m-lg"><i class="fa fa-refresh fa-5x fa-spin"></i></div>');
							$(".modal-media-files").load("admin/content/mediafiles/listing");
							window.modalInputName = $(this).data('name');
							//~ var handler = $(this).data("htmlhandler")+$('#template_file').val();
							//~ window.open(handler, '_blank');
						});

					</script>


